#version=RHEL6
# System authorization information
auth --enableshadow --passalgo=sha512

# Firewall configuration
firewall --disabled

# Use text mode install
text

# Use NFS installation media
nfs --server=syke-01A --dir=/data/vendor/slx/slx6x/x86_64/os/
#nfs --server=syke-01A --dir=/data/scm/xyratex/os6_base/
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8

# SELinux configuration
selinux --disabled

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=slx6test
# Root password
rootpw --iscrypted $6$YifirYBThTg8W/2X$ASjxeh0o1yxt.ULgur8pU0mSo1FMytIzKW59zcCXyE2.lWsiRXPjS7VW6jt.GQ2QwcjI7sp4nec3y5jYjcHB40
# Do not configure the X Window System
skipx
# System timezone
timezone America/Denver --isUtc
user --groups=wheel --name=dev --uid=1000 --password=$6$Nl/gg8jDWk0nrnAT$SYjSuKhMSsb5gcor8zSgp7LlezgeC3cw1XQjFoTzGqBV9qTpBmZI7QwuouSQV5f/RwAi696NM/iAVCWLvzBDP/ --iscrypted --gecos="dev"
# X Window System configuration information
xconfig  --startxonboot
# Clear any existing partitioning
zerombr
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --driveorder=vda
autopart
# Partition clearing information
clearpart --all --initlabel --drives=vda
#reboot at the end
reboot

%packages
@base
@console-internet
@debugging
@development
@ftp-server
@core
@fonts
@x11
ElectricFence
asciidoc
audit-libs-devel
binutils-devel
bison
cmake
coreutils
elfutils-devel
elfutils-libelf-devel
ftp
gdb-gdbserver
gdisk
git-all
glibc-utils
hmaccalc
kernel-firmware
kexec-tools
libss
libss-devel
lftp
mc
mercurial
mgetty
mtools
nasm
newt-devel
nfs-utils
nmap
openssh-clients
openssh-server
perl-ExtUtils-Embed
python-devel
python-docutils
rpmdevtools
rpmlint
ruby-irb
screen
stunnel
syslinux
tree
tuned
tuned-utils
xmlto
yum-plugin-priorities
zlib-devel
zsh
-atmel-firmware
-b43-openfwwf
-gcc-gfortran
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-mysql-libs
-rt61pci-firmware
-rt73usb-firmware
vim-enhanced
-zd1211-firmware

%end

%post --log /root/post_install.log
mkdir /data
chown dev:dev /data
# add our nfs mount
echo "syke-01A:/data /data nfs defaults 0 0" >>/etc/fstab
# enable passwordless sudo
sed -i 's/# %wheel.*ALL=(ALL).*NOPASSWD:.*ALL/%wheel\tALL=(ALL)\tNOPASSWD: ALL/' /etc/sudoers
# start sshd at boot
chkconfig sshd on
%end
